.question {
   font-weight: bold; 
   padding: 5px;
}

.answer {
   
   display: none;
   padding: 5px;
   
}

/* --------------------------------- */

b {
   font-weight: bold;
}

body, input, textarea {
	color: #373737;
	font: 15px "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 300;
	line-height: 1.625;
	padding: 0 2em;
}

body {
	background: #eee;
}

#page {
	background: #fff;
}

/* Headings */
h1,h2,h3,h4,h5,h6 {
	clear: both;
}

hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.625em;
}

/* Text elements */
p {
	margin-bottom: 1.625em;
}

ul, ol {
	margin: 0 0 1.625em 2.5em;
}

ul {
	list-style: square;
}

ol {
	list-style-type: decimal;
}

ol ol {
	list-style: upper-alpha;
}

ol ol ol {
	list-style: lower-roman;
}

ol ol ol ol {
	list-style: lower-alpha;
}

ul ul, ol ol, ul ol, ol ul {
	margin-bottom: 0;
}

dl {
	margin: 0 1.625em;
}

dt {
	font-weight: bold;
}

dd {
	margin-bottom: 1.625em;
}

strong {
	font-weight: bold;
}

cite, em, i {
	font-style: italic;
}

blockquote {
	font-family: Georgia, "Bitstream Charter", serif;
	font-style: italic;
	font-weight: normal;
	margin: 0 3em;
}

blockquote em, blockquote i, blockquote cite {
	font-style: normal;
}

blockquote cite {
	color: #666;
	font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 300;
	letter-spacing: 0.05em;
	text-transform: uppercase;
}

pre {
	background: #f4f4f4;
	font: 13px "Courier 10 Pitch", Courier, monospace;
	line-height: 1.5;
	margin-bottom: 1.625em;
	overflow: auto;
	padding: 0.75em 1.625em;
}

code, kbd {
	font: 13px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}

abbr, acronym, dfn {
	border-bottom: 1px dotted #666;
	cursor: help;
}

address {
	display: block;
	margin: 0 0 1.625em;
}

ins {
	background: #fff9c0;
	text-decoration: none;
}

sup,
sub {
	font-size: 10px;
	height: 0;
	line-height: 1;
	position: relative;
	vertical-align: baseline;
}

sup {
	bottom: 1ex;
}

sub {
	top: .5ex;
}

a {
	color: #1982d1;
	text-decoration: none;
}

a:focus,
a:active,
a:hover {
	text-decoration: underline;
}